{% extends 'index.html' %}

{% block title %}{{ book.title }} - Book Haven{% endblock %}

{% block content %}
<div class="product-details">
	<div class="product-image">
		<img src="{{book.image}}" alt="{{book.title}}">
	</div>
	<div class="product-info">
	 <h1 class="product-title">{{book.title}}</h1>
     <p class="product-author">{{book.author}}</p>
     <p class="product-description">{{book.description}}</p>
     <p class="product-price">${{book.price}}</p>
     <a href="{{ url_for('add_to_cart',book_id=book.id )}}" class="btn btn-primary">Buy Now</a>
     <a href="{{ url_for('products')}}" class="btn btn-primary">Back To Books</a>
 </div>
</div>
{%endblock%}